In [0]:
from pathlib import Path

import pandas as pd
from ipywidgets import widgets

from pandas_profiling import ProfileReport
from pandas_profiling.utils.cache import cache_file

In [0]:
df = pd.read_csv('travel.csv')

In [0]:
df.at[df['Gender'] == 'F', 'Gender'] = 0
df.at[df['Gender'] == 'M', 'Gender'] = 1

In [0]:
nan_indexes = df[df.Gender.isnull()].index
 
count_zeros = nan_indexes.size // 2
count_ones = nan_indexes.size - count_zeros
fill_data = [0] * count_zeros + [1] * count_ones

df.loc[nan_indexes, 'Gender'] = pd.Series(fill_data, index=nan_indexes)

df.head()

   Duration Destination  Gender  Age
0       186    MALAYSIA     0.0   81
1       186    MALAYSIA     0.0   71
2        65   AUSTRALIA     0.0   32
3        60   AUSTRALIA     0.0   32
4        79       ITALY     0.0   41

In [0]:
profile = ProfileReport(df, title="Travel Dataset", html={'style': {'full_width': True}}, sort="None")

In [0]:
profile.to_notebook_iframe()